<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">

		<title>From template</title>

		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename="css/style.css")}}">

		<!--[if lt IE 9]>
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
	</head>

	<body class="animated bounceInDown">

		<div class="avatar">
			<img src="{{url_for('static',filename='img/avatar.jpg')}}" alt="Avatar">
		</div>

		<div class="content">
			<h1 class="title">MUZEEFA M SHAIKH</h1>

			<p>
				Hello my name is Muzeefa M Shaikh.<br>
				I'm from Bangalore.<br>
				Im pursuing Btech in computer science.<br>
	My short term goal is to completing engineering with distincton marks.<br>
				I want to become data engineer.<br>
				My moto in life is: "LIFE IS EITHER A DARING ADVENTURE OR NOTHING AT ALL"<br>
                                I consider myself a limitless learner, and love learning new tools and technologies that make me a better developer.<br>
                                I am excited about travelling, good music, and increasing diversity in the tech industry.

			</p>

			<ul class="social-icons">
11				<li><a class="twitter" href="http://www.twitter.com" title="Twitter">Twitter</a></li>
				<li><a class="facebook" href="https://www.facebook.com" title="Facebook">Facebook</a></li>


				<li><a class="instagram" href="www.instagram.com" title="Instagram">Instagram</a></li>

			</ul>



			<p>Want to hire me? <a href="muzeefa.shaikh@gmail.com">email me</a>.</p>

	</body>
</html>
